@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

body{
    font-family: 'Inconsolata', monospace !important;
    color: white !important;
    background-color: black !important;
    font-size: 20pt;
}

.col{
    text-align: center;
}

.row{
    margin-top: 50%;
}
@keyframes animButton{
    0%{
        width: 135%;
    }
    100%{
        width: 150%;
    }
}

.normalButton{
    white-space: nowrap;
    height: auto;
    width: 135%;
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-color: white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.normalButton:hover{ 
    animation: animButton 0.5s forwards;
    animation-delay: 0ms;
}
